.movie-details
  &__parts
    display: flex
    flex-direction: column-reverse
  &__const
    margin-top: 50px
  &__link
    font-size: 16px
    +line-hover
  &__props
    font-size: 14px
    line-height: 1.2
    color: rgba($color-text, .7)
    margin: 20px 0
    td
      padding: 3px 5px
      vertical-align: top
      &:first-child
        padding-left: 0
      &:last-child
        padding-right: 0
  &__gallery
    display: flex
    align-items: center
    margin-top: 70px
    overflow-x: auto
    img
      display: block
      max-width: 100%

@media only screen and (min-width: 600px)
  .movie-details
    &__parts
      display: block
      font-size: 0
    &__const,
    &__var
      display: inline-block
      vertical-align: top
    &__const
      position: relative
      width: 300px
      margin-top: 0
      margin-right: -300px
    &__var
      width: 100%
      padding-top: 10px
      padding-left: 320px
    &__props
      font-size: 16px

