.header
  padding: 25px 0
  .logo
    position: relative
    margin-bottom: 20px
  .search
    max-width: 550px
    width: 100%

@media only screen and (min-width: 768px)
  .header
    font-size: 0
    .logo,
    .search
      display: inline-block
      vertical-align: top
    .logo
      width: 70px
      margin: 5px -70px 0 0
    .search
      padding-left: 100px
