.header
  position: relative
  display: flex
  align-items: center
  justify-content: space-between
  padding: 25px 0
  &__links
    display: flex
    align-items: center
  &__main
    width: 100%
  .logo
    margin-top: 2px
    position: relative
  .search
    margin-top: 20px

@media only screen and (max-width: 767px)
  .header
    &__links
      position: absolute
      top: 26px
      right: 0

@media only screen and (min-width: 768px)
  .header
    &__main
      font-size: 0
      .logo,
      .search
        display: inline-block
        vertical-align: top
      .logo
        width: 70px
        margin: 5px -70px 0 0
      .search
        max-width: 550px
        width: 100%
        padding-left: 100px
        margin-top: 0
