.search
  display: flex
  justify-content: center
  padding: 40px 0 70px
  &__input
    border: solid 1px rgba($color-text, .3)
    border-right: 0
    max-width: 500px
    width: 100%
    padding: 5px 10px
  &__btn
    padding: 10px 20px
    border: 1px solid rgba($color-text, .4)
    transition: $transition
    letter-spacing: .35pt
    &:hover
      border-color: $color-accent
      background-color: $color-accent
      color: #ffffff

